version: "3.1"

services:
    wordpress:
        image: wordpress:5.9.0-php7.3-apache
        restart: always
        ports:
          -   8080:80
        environment:
            WORDPRESS_DB_HOST: db
            WORDPRESS_DB_USER: dbuser
            WORDPRESS_DB_PASSWORD: dbpassword
            WORDPRESS_DB_NAME: dbname
        volumes:
          - .:/var/www/html/wp-content/plugins/wp-graphql-dokan
          - ./docker/uploads.ini:/usr/local/etc/php/conf.d/uploads.ini

    db:
        image: mysql:8.0
        restart: always
        environment:
            MYSQL_DATABASE: dbname
            MYSQL_USER: dbuser
            MYSQL_PASSWORD: dbpassword
            MYSQL_RANDOM_ROOT_PASSWORD: '1'
        volumes:
          -   db:/var/lib/mysql

    phpmyadmin:
        image: phpmyadmin
        container_name: phpmyadmin
        environment:
            - PMA_ARBITRARY=1
        restart: always
        ports:
            - 8888:80
        volumes:
            - /sessions

volumes:
    wordpress:
    db: